.main-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-p {
    margin-bottom: 40px;
}

img {
    width: 250px;
    height: 250px;
}

.images-row {
    text-align: center;
}

@media(min-width: 300px) {
    .images-row .images {
        padding-top: 10px;
    }
}

@media(min-width: 990px) {
    .images-row .images {
        padding-top: 0px;
    }
}